.list-item {
    background-color: #fff;
    margin: 7px;
    border-radius: 5px;
    width: 300px;
    box-shadow: 0px 0px 15px 12px #3d444641;
    padding: 3px;
}

.list-header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    padding: 10px 0;
}

.delete-list {
    border: none;
    background: transparent;
    cursor: pointer;
    margin-left: 52px ;

}

.lists {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    border-style: solid;
    border-radius: 20px;
    background-color: aliceblue;
    overflow: hidden;
    border-color: transparent;
    padding: 12px;
    width: 970px;
}

.list-card {
    min-height: 50px;
}

.input-title {
    border: none;
    padding: 5px;
    border-bottom: 1px solid gray;
    outline: none;
    border-radius: 5px;

}