body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

h2 {
  border-style: solid;
  font-size: 50px;
  border-width: 4px;
  background-color: #61d3ba;
  padding: 15px;
  border-radius: 5px;
  margin: 20px;
  height: min-content;
  width: min-content;
}

a {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  text-align: none;
  text-decoration: none;
  color: #000000;
}

input {
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
  padding: 10px;
  display: flex;
  background-color: #f0f0f0;
  justify-content: center;
  border-bottom: 1px solid #ccc;
}



.add-board-button:hover,
.add-list-button:hover,
.add-card-button:hover {
  background-color: #4a9181;
  color: #ffffff;
  border-color: #000000;

}

.board-form-wrapper,
.list-form-wrapper {
  background-color: #f0f0f0;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  width: 350px;
}

.board-form,
.list-form,
.card-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}



.buttons-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.button {
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.button.save {
  background-color: #61d3ba;
  font-size: 20px;
  color: #fff;
  width: 120px;
}

.button.save:hover,
.button.cancel:hover {
  font-size: 15px;
  transition: 70ms;

}


.button.cancel {
  background-color: #ccc;
  font-size: 20px;
  width: 120px;
}