.add-list-button {
    width: 350px;
    font-size: 35px;
    margin: 20px;
    background-color: #61d3ba;
    color: #666666;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    border-radius: 7px;
    transition: all 0.3s ease;
    border-style: solid;
    border-width: 7px;
    border-color: #666666;
}