.material-symbols-outlined {
  color: #000000;
  font-size: 60px;
}

.exit {
  border: solid 5px;
  border-radius: 13px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}